@charset "utf-8";

/**************************************************
  Mention style
**************************************************/
.mentionContainer{position:relative;width:100%;box-sizing:border-box;border:1px solid #eaeaea;}

.commentTitle {background:#f9f9f9;height:32px; line-height:32px; padding:0 0 0 10px; font-weight:bold;}

/*//////////////*/
/*  commentBox  */
/*//////////////*/
.mentionContainer .commentBox .commentView{position:relative;background:#ffffff;}
.mentionContainer .commentBox .commentView.replyIn{padding:0px 0;}
.mentionContainer .commentBox .commentView .editorBox{position:relative;border:solid #eaeaea;border-width:1px 0;z-index:3;}

.mentionContainer .commentBox .commentView .dayLine{margin:10px;text-align:center;background: url('../Images/mention/dayline_dot.png') repeat-x center;}
.mentionContainer .commentBox .commentView .dayLine span{padding:0 5px;font-size:11px;color:#cccccc;background-color:#fff;}

.mentionContainer .commentBox .commentView .myMention{cursor:auto;color: #32c16d;line-height: normal;display:inline-block;padding:2px;border:1px solid #7cd8a3;background-color: #effffc;}
.mentionContainer .commentBox .commentView .opMention{cursor:auto;color: #4d98ff;line-height: normal;display:inline-block;padding:2px;border:1px solid #accfff;background-color: #eff7ff;color: #accfff;}

.mentionContainer .commentBox .commentView .commentDiv{position:relative;padding: 20px 10px;border-top: 1px solid #eaeaea;}
.mentionContainer .commentBox .commentView .commentDiv:after{content:"";display:block;clear:both;height:0;visibility:hidden;}
.mentionContainer .commentBox .commentView .commentDiv.reply{margin: 0 20px;padding: 20px 10px 20px 25px;background: url("../Images/mention/ico_reply01.png") no-repeat -20px 10px;border-top: 1px dashed #eaeaea;}
.mentionContainer .commentBox .commentView .commentDiv.reply .userProfile .commentBtn{float:right;margin: 11px 0 0 0;}
.mentionContainer .commentBox .commentView .commentDiv .editWrap {position:absolute;left:0;right:0;}
.mentionContainer .commentBox .commentView .commentDiv .editWrap .editorBox{position:absolute;top:0;left:0;right:0;z-index:3;}

.mentionContainer .commentBox .commentView .editCloseBtn{position:absolute;top:-25px;right:10px;z-index:3;}
.mentionContainer .commentBox .commentView .editCloseBtn ul:after{content:"";display:block;clear:both;height:0;visibility:hidden;}
.mentionContainer .commentBox .commentView .editCloseBtn li a{display:block;width:18px;height:20px;}
.mentionContainer .commentBox .commentView .editCloseBtn li .ico_clo{background:url("../Images/mention/mention_ico_s.png") no-repeat 0px -60px;}

.mentionContainer .commentBox .commentView .userProfile{height:36px;}
.mentionContainer .commentBox .commentView .userProfile:after{content:"";display:block;clear:both;height:0;visibility:hidden;}
.mentionContainer .commentBox .commentView .userProfile .userImg{position:relative;float:left;width:36px;height:36px;overflow:hidden;border-radius:50% 50%}
.mentionContainer .commentBox .commentView .userProfile .userImg img{width:100%;}
.mentionContainer .commentBox .commentView .userProfile .userImg .imgCover{position:absolute;top:0;left:0;width:36px;height:36px;background:url('../Images/mention/img_cover.png') no-repeat center;}

.mentionContainer .commentBox .commentView .userProfile .userName{float:left;font-size:12px;font-weight:bold;color:#000;line-height:36px;margin:0 0 0 5px;}
.mentionContainer .commentBox .commentView .userProfile .createDate{float:left;font-size:11px;color:#8c8c8c;line-height:36px;margin:0 0 0 15px;}
.mentionContainer .commentBox .commentView .userProfile .commentBtn{float:right;margin:11px 0 0 0;}

.mentionContainer .commentBox .commentView .userProfile .commentBtn ul:after{content:"";display:block;clear:both;height:0;visibility:hidden;}
.mentionContainer .commentBox .commentView .userProfile .commentBtn li{float:left;margin: 0 0 0 7px;}
.mentionContainer .commentBox .commentView .userProfile .commentBtn li a{display:block;width:18px;height:20px;}
.mentionContainer .commentBox .commentView .userProfile .commentBtn li .ico_rpy{background:url("../Images/mention/mention_ico_s.png") no-repeat 0px 0px;}
.mentionContainer .commentBox .commentView .userProfile .commentBtn li .ico_edt{background:url("../Images/mention/mention_ico_s.png") no-repeat 0px -20px;}
.mentionContainer .commentBox .commentView .userProfile .commentBtn li .ico_del{background:url("../Images/mention/mention_ico_s.png") no-repeat 0px -40px;}

.mentionContainer .commentBox .commentView .userChat{float:left;text-align:left;}
.mentionContainer .commentBox .commentView .userChat:after{content:"";display:block;clear:both;height:0;visibility:hidden;}
.mentionContainer .commentBox .commentView .userChat .chatBox{display:table-cell;padding:0 0 0 30px;}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatBox_in{position:relative;}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatBox_lt{position:absolute;top:0;left:0;width:21px;height:14px;background:url('../Images/mention/img_msg_from_s.png') no-repeat 0px 0px;}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatBox_rt{position:absolute;top:0;right:0;width:21px;height:14px;background:url('../Images/mention/img_msg_from_s.png') no-repeat 0px -14px;}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatBox_lb{position:absolute;bottom:0;left:0;width:21px;height:14px;background:url('../Images/mention/img_msg_from_s.png') no-repeat 0px -28px;}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatBox_rb{position:absolute;bottom:0;right:0;width:21px;height:14px;background:url('../Images/mention/img_msg_from_s.png') no-repeat 0px -42px;}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatMsg{display:block;padding: 10px 17px 0 10px;}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatMsg + .chatEtc .file_group{border-top: 1px solid #eaeaea;padding:14px 0 0 0;}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatMsg .mentionSpan a{font-weight:bold;color:#008aff !important;}

.mentionContainer .commentBox .commentView .userChat .chatBox .chatEtc{display:block;padding: 10px 17px 10px 10px;}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatEtc .file_group li{padding:5px 0 0 0;}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatEtc .file_group li:first-child{padding:0;}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatEtc .file_group li:after{content:"";display:block;clear:both;height:0;visibility:hidden;}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatEtc .file_group li .file_txt{margin:0 0 0 5px;padding:1px 0;background:none;}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatEtc .file_group li a:hover{text-decoration:underline;}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatEtc .file_group li .span_line{float:left;padding:0 2px;color:#c1c1cd;}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatEtc .file_group li .file_img{float:left;cursor: default;}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatEtc .file_group li .file_img img{margin:5px 0 0 0;max-width:400px !important;max-height:400px !important;}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatEtc .file_group li:first-child .file_img img{margin:0;}

.mentionContainer .commentBox .commentView .userChat .chatBox .chatEtc .file_group li .imgContent{overflow: auto;position: relative;max-width:400px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatEtc .file_group li .imgContent img{margin: 0;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;padding: 3px;background: rgba(0,0,0,0.2);}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatEtc .file_group li .horizontal-images.imgContent ul{margin: 0;padding: 0;list-style: none;overflow: hidden;}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatEtc .file_group li .horizontal-images.imgContent li{margin: 0 3px;padding:0px !important;float: left;}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatEtc .file_group li .horizontal-images.imgContent li:first-child{ margin-left: 0; }
.mentionContainer .commentBox .commentView .userChat .chatBox .chatEtc .file_group li .horizontal-images.imgContent li:last-child{ margin-right: 0; }
.mentionContainer .commentBox .commentView .userChat .chatBox .chatEtc .file_group li .horizontal-images.imgContent li img{width: auto;padding: 0;max-width:400px;}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatEtc .file_group li .horizontal-images.imgContent .mCSB_horizontal.mCSB_inside > .mCSB_container{margin-bottom:0;}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatEtc .file_group li .horizontal-images.imgContent .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color: #fff;background-color: rgb(5, 141, 245);filter: "alpha(opacity=75)";	-ms-filter: "alpha(opacity=75)";	}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatEtc .file_group li .horizontal-images.imgContent .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background-color: #fff; background-color: rgba(5, 141, 245,0.85);filter: "alpha(opacity=85)"; -ms-filter: "alpha(opacity=85)";}
.mentionContainer .commentBox .commentView .userChat .chatBox .chatEtc .file_group li .horizontal-images.imgContent .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mentionContainer .commentBox .commentView .userChat .chatBox .chatEtc .file_group li .horizontal-images.imgContent .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background-color: #fff; background-color: rgba(5, 141, 245,0.9);filter: "alpha(opacity=90)"; -ms-filter: "alpha(opacity=90)";}

.mentionContainer .commentBox .commentView .userChat .chatInfo{display:table-cell;padding:0 0 0 5px;width:40px;overflow:hidden;vertical-align:bottom;}
.mentionContainer .commentBox .commentView .userChat .chatInfo .chatTime{display:block;font-size:11px;color:#8c8c8c;}

/*//////////////*/
/*  editorBox   */
/*//////////////*/
.mentionContainer .editorBox{position:relative;background:#f9f9f9;border-top: 1px solid #eaeaea;}
.mentionContainer .editorBox .editTextBox{position: relative;padding:10px;}
.mentionContainer .editorBox .editTextBox:after{content:"";display:block;clear:both;height:0;visibility:hidden;}
.mentionContainer .editorBox .editTextBox .textDiv{white-space:unset;float:left;height:50px;padding:10px 17px 10px 10px;border:1px solid #eaeaea;background:#ffffff;outline:none;overflow-y:scroll;cursor:text;}
.mentionContainer .editorBox .editTextBox .textDiv .mentionSpan a{font-weight:bold;color:#008aff !important;}
.mentionContainer .editorBox .editTextBox .cloneHiddenText{position:absolute;height:50px;padding:10px 17px 10px 10px;border:1px solid #eaeaea;background:#ffffff;outline:none;overflow-y:scroll;}

.mentionContainer .editorBox .editTextBox .textBtn{float:left;width: 102px;height: 70px;margin: 0 0 0 10px;padding: 0;}
.mentionContainer .editorBox .editTextBox .textBtn .submitBtn{display:block;padding: 28px 0;text-align: center;border:1px solid #eaeaea;background:#ffffff;}
.mentionContainer .editorBox .editTextBox .textBtn .submitBtn:hover {border:1px solid #1088e3;background:#ffffff;}
.mentionContainer .editorBox .editTextBox .textBtn .submitBtn:active {border:1px solid #1088e3;background:#f4f9fe;}
.mentionContainer .editorBox .editTextBox .textBtn .submitBtn:focus {box-shadow:none;}

.mentionContainer .editorBox .editFileBox{padding:0 10px 10px 10px;}
.mentionContainer .editorBox .editFileBox .fileTitle{padding:10px 0 0 0;border-top:1px dashed #eaeaea;}
.mentionContainer .editorBox .editFileBox .fileTitle:after{content:"";display:block;clear:both;height:0;visibility:hidden;}
.mentionContainer .editorBox .editFileBox .fileTitle .fileModifyTit{float:left;font-weight:bold;margin:5px 10px 0 0;padding:0 15px 0 0;background:url('../Images/mention/ico_order_up01.png') no-repeat right;cursor:pointer;}
.mentionContainer .editorBox .editFileBox .fileTitle .fileModifyTit.on{background:url('../Images/mention/ico_order_down01.png') no-repeat right;}
.mentionContainer .editorBox .editFileBox .fileTitle .fileModifyInfo{float:left;margin:5px 0 0 0;}
.mentionContainer .editorBox .editFileBox .fileTitle .fileUploadBtn{float:right;width:102px;margin:0 2px 0 0;padding: 0;}
.mentionContainer .editorBox .editFileBox .fileTitle .fileUploadBtn a{display:block;padding:4px 0;text-align: center;border:1px solid #eaeaea;background:#ffffff;}
.mentionContainer .editorBox .editFileBox .fileTitle .fileUploadBtn a:hover {border:1px solid #1088e3;background:#ffffff;}
.mentionContainer .editorBox .editFileBox .fileTitle .fileUploadBtn a:active {border:1px solid #1088e3;background:#f4f9fe;}
.mentionContainer .editorBox .editFileBox .fileTitle .fileUploadBtn a:focus {box-shadow:none;}

.mentionContainer .editorBox .editFileBox .fileGroup{display:none;padding:10px 0 0 0;}
.mentionContainer .editorBox .editFileBox .fileGroup:after{content:"";display:block;clear:both;height:0;visibility:hidden;}
.mentionContainer .editorBox .editFileBox .fileGroup li{padding:5px 0 0 0;}
.mentionContainer .editorBox .editFileBox .fileGroup li:first-child{padding:0;}
.mentionContainer .editorBox .editFileBox .fileGroup li:after{content:"";display:block;clear:both;height:0;visibility:hidden;}
.mentionContainer .editorBox .editFileBox .fileGroup li .fileTxt{float:left;margin:0 0 0 5px;padding:1px 0;}
.mentionContainer .editorBox .editFileBox .fileGroup li .fileTxt:hover{text-decoration:underline;}
.mentionContainer .editorBox .editFileBox .fileGroup li .del_file{float:left;margin:3px 0 0 5px;}

.mentionListBox{display:none;position: absolute;/*left: 10px;bottom: 81px;*/width: 300px;max-height: 300px;border: 1px solid #eaeaea;background: #ffffff;overflow-y: auto;}
.mentionListBox li{position:relative;padding: 5px 0;border-top: 1px solid #eaeaea;cursor:pointer;}
.mentionListBox li.on{background:#f2f2f2;}
.mentionListBox li:hover{background:#f2f2f2;}
.mentionListBox li:first-child{border-top:0;}
.mentionListBox li .mentionImg{position:absolute;top: 5px;left:0;width:36px;height:36px;margin: 0 0 0 4px;overflow:hidden;border-radius:50% 50%;}
.mentionListBox li .mentionImg img{width:100%;}
.mentionListBox li .mentionImg .imgCover{position:absolute;top: 0px;left:0;width:36px;height:36px;background:url('../Images/mention/img_cover.png') no-repeat center;}
.mentionListBox li .mentionInfo{margin:0px 0 0 44px;line-height:18px;}
.mentionListBox li .mentionInfo dt{font-size: 12px;font-weight: bold;}
.mentionListBox li .mentionInfo dd{color:#b1b1b1;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.mentionModal{background:#000; opacity:0.3; filter:alpha(opacity=30); width:100%;height:100%;position:absolute;top:0px; left:0px;z-index:1;}

/* 인쇄미리보기*/
@media print{
/*공통멘션 print처리*/
.commentTitle .sort{display:none;}
.commentBtn{display:none;}
.editorBox{display:none;}
.fr{display:none;}
}

/*공통멘션 print처리*/
.print .commentTitle .sort{display:none;}
.print .commentBtn{display:none;}
.print .editorBox{display:none;}
.print .fr{display:none;}
